<div class='row'>
  <div class='col-lg-6  col-lg-offset-3
       col-md-8  col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default' id='status_panel'>
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="profile_status_toggle"
	     href="#profile_status_collapse">
	    <span id='status_message'></span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="profile_status_collapse"
	   class="panel-collapse collapse
		  <% if (status_panel_show) { %>in<% } %>">
	<div class='panel-body'>
	  <table class='table table-condensed nospaceafter border-none'>
	  <!-- The spinner will start out invisible -->
	  <tr>
	    <td colspan=2 class='border-none'>
	      <div id='status_progress_outerdiv' class='hidden'>
		<div id='status_progress_div'
                     class='progress progress-striped active nospaceafter'>
		  <div class='progress-bar' role='progressbar'
                       id='status_progress_bar'
                       style='width: 33%;'></div>
		</div>
	      </div>
	    </td>
	  </tr>
	  <tr>
	    <td class='border-none'>URN:</td>
	    <td class='border-none'><%- sliceURN %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>State:</td>
	    <td class='border-none'>
              <span id='quickvm_status'>
		<font></font>
              </span>
	    </td>
	  </tr>
	  <tr>
	    <td class='border-none'>Profile:</td>
	    <td class='border-none'><%- profileName %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>Expires:</td>
	    <td class='border-none' id='instance_expiration'>
              <span id='quickvm_expires'><%- sliceExpiresText %></span>
	      (<span id='quickvm_countdown'></span>)
	    </td>
	  </tr>
	  </table>
	  <!--
	  <div class='pull-left'>
	    <span class='glyphicon glyphicon-question-sign'
		  style='font-size:24px'></span>
	  </div>
	  -->
	  <div class='pull-right'>
	    <% if (registered) { %>
	    <button class='btn btn-xs btn-primary hidden' disabled
		    id='clone_button' type=button>
              Clone</button>
	    <button class='btn btn-xs btn-primary hidden' disabled
		    id='snapshot_button' type=button
		    data-toggle='modal' data-target='#snapshot_modal'>
              Snapshot</button>
	    <% } %>
	    <button class='btn btn-xs btn-success' disabled
		    id='extend_button' type=button>
              Extend</button>
	    <button class='btn btn-xs btn-danger' disabled
		    id='terminate_button' type=button
		    data-toggle='modal' data-target='#terminate_modal'>
              Terminate</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- Add a div for the instructions if there are instructions. The cliet
     will actually fill in the div though, since it is markdown and that
     is more easily done on the client side for now. -->
<div class='row hidden' id='instructions_panel'>
  <div class='col-lg-6  col-lg-offset-3
       col-md-8  col-md-offset-2
       col-sm-8  col-sm-offset-2
       col-xs-12 col-xs-offset-0'>
    <!-- Collapsable panel -->
    <div class="panel panel-info">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" href="#instructions">Profile Instructions
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="instructions" class="panel-collapse collapse">
	<div class="panel-body">
	  <div id="instructions_text"></div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- The topo diagram goes inside this div, when it becomes available. -->
<div class='row'>
  <div class='col-lg-10  col-lg-offset-1
       col-md-10  col-md-offset-1
       col-sm-10  col-sm-offset-1
       col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default invisible' id='showtopo_container'>
      <div class='panel-body'>
	<div id='quicktabs_div'>
	  <ul id='quicktabs' class='nav nav-tabs'>
	    <li class='active'>
              <a href='#profile' data-toggle='tab'>Topology View</a>
            </li>
	    <li>
              <a href='#listview' data-toggle='tab'>List View</a>
            </li>
	    <li>
              <a href='#manifest' data-toggle='tab'>Manifest</a>
            </li>
	  </ul>
	  <div id='quicktabs_content' class='tab-content'>
            <div class='tab-pane active' id='profile'>
	      <div id='showtopo_statuspage' class='jacks'></div>
              <small>Click on a node to open a shell on that node. 
                Click and drag to move things around.</small>
	    </div>
            <div class='tab-pane' id='listview'>
	      <div id='showtopo_listview'>
		<table class='table table-striped table-hover table-condensed'
                       id='listview_table'>
                  <thead>
                    <tr>
                      <th>Node</th>
                      <th>Shell (in-browser)</th>
                      <th>SSH command <small>
			  (if you provided your own key)</small>
                      </th>
                      <th>Console</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
		</table>
              </div>
            </div>
	    <div class='tab-pane' id='manifest'>
              <textarea id='manifest_textarea' style='width: 100%;'
                        type='textarea'></textarea>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- place to hang the modals for now -->
  <div id='snapshot_modal' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'
                  aria-hidden='true'>&times;</button>
          <center><h3>Confirm to Snapshot</h3>
	</div>
	<div class='modal-body'>
	  Performing a snapshot will create a new disk image and
	  modify the profile. This is okay, but please confirm.
	  <br>
	  <br>
          <button class='btn btn-danger btn-sm align-center' type='button'
		  id='snapshot_confirm'>Confirm</button></center>
	</div>
      </div>
    </div>
  </div>
  <div id='waitwait_div'></div>
  <div id='terminate_div'></div>
  <div id='oops_div'></div>
  <div id='register_div'></div>
  <div id='extend_div'></div>
  <div id='imaging_div'></div>
  <div id='oneonly_div'></div>
  <div id='approval_div'></div>
</div>
